/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset above */

/* declare variable "rapid-color" for specific pink color to be used throughout */
/* declare variable "error-color" */

:root {
	--rapidcolor: rgb(219 124 213);
}

* {
	box-sizing: border-box;
	font-family: "Ubuntu" , sans-serif;
}

body {
  display: flex;
	height: 100vh;
	font-family: "Ubuntu" , sans-serif;
	background-color: rgb(202, 189, 189);
}

body > section {
	height: 100%;
}

#sidebar-section {
	flex-grow: 1;
  background-image: url(./assets/yulia-khlebnikova-iuwMdNq0-s4-unsplash.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	padding: 100px 0 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: fit-content;
}

#logo {
	display: flex;
	align-items:center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	padding-right: 10px;
}

#logo img {
	margin-right: -15px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

#sidebar-section p {
	color: rgb(54, 54, 54);
	font-size: 0.8rem;
}
#sidebar-section p a {
	color: rgb(54, 54, 54);
}

#signup-section{
	max-width: 700px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
 }

 #signup-section > div {
	padding: 20px 30px;
 }

 #signup-section > div:nth-child(2) {
	background-color: white;
 }

 form section {
	display: flex;
	gap: 15px 30px;
	margin-top: 35px;
 }

 label {
	display: block;
	font-size: 0.8rem;
 }

 input {
	padding: 3px;
	background-color: var(--rapidcolor);
	border: none;
 }

 #psw_error {
	color: red;
	font-size: 0.8rem;
 }

 button {
	background-color: var(--rapidcolor);
	padding: 5px 15px;
	border-radius: 3px;
	border-style: solid;
	margin-bottom: 10px;
	font
 }
