* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black dashed;
}

:root {
	--rapidcolor: rgb(219 124 213);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  border: 4px rgb(207, 29, 29) solid;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  border: 2px orange solid;
  background-color: var(--rapidcolor);
  flex: 1;
}

.container > * {

}