* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px black dashed; */
}

:root {
	--rapidcolor: rgb(219 124 213);
  --rapidcolorlight: rgb(207, 180, 205);
}

html {
  font-size: 30px;
}

body {
  font-family: "Ubuntu" , sans-serif;
}

body, .container {
  min-height: 100vh;
}

.container {
  display: flex;
  background-color: var(--rapidcolorlight);
  min-width: fit-content;
  flex-wrap: wrap
}

#sidebar {
  background-image: url(./assets/yulia-khlebnikova-iuwMdNq0-s4-unsplash.jpg);
	background-size: cover;
	background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  flex: 1 1 25%;
}

#sidebar > * {
  min-width: max-content
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
}

h1 {
  font-size: 2rem;
  padding-right: 0.2em;
}

#sidebar > p {
  font-size: 0.7rem;
  text-align: center;
}

#sidebar > p > a {
  color: inherit;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3 1 30%;
}

.signup-child {
  padding: 15px 30px;
}


#form {
  background-color: white;
}

.form-group {
  display: flex;
  gap: 5px 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

label {
  display: block;
  font-size: 0.8rem;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--rapidcolorlight);
}

input {
  padding: 0.1rem;
  outline: none;
  border: 0.1em solid #f8f8f8;
}

input:focus {
  border: 0.1em solid var(--rapidcolor);
  box-shadow: 0px 0px 2px 1px var(--rapidcolor);
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border: 0.1em solid var(--rapidcolor);
  box-shadow: 0px 0px 2px 1px red;
}

#psw_error {
	color: red;
	font-size: 0.8rem;
 }

button {
  background-color: var(--rapidcolor);
  margin: 15px 0;
  padding: 0.25em 1em;
  border: 0.1em solid black;
}

#signup a {
  color: var(--rapidcolor);
  text-decoration: none;
}