* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black dashed;
}

:root {
	--rapidcolor: rgb(219 124 213);
  --rapidcolorlight: rgb(207, 180, 205);
}

body {
  font-family: "Ubuntu" , sans-serif;
}

body, .container {
  min-height: 100vh;
}

.container {
  display: flex;
  background-color: var(--rapidcolor);
  min-width: fit-content;
}

.container > * {
}

#sidebar {
  background-image: url(./assets/yulia-khlebnikova-iuwMdNq0-s4-unsplash.jpg);
	background-size: cover;
	background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}

#sidebar > * {
  min-width: max-content
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
}

#sidebar > p {
  font-size: 0.7rem;
  text-align: center;
}

#sidebar > p > a {
  color: inherit;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-child {
  padding: 15px 30px;
}

/* jumping ahead to some form stuff */

input, button {
  font-family: inherit;
  background-color: var(--rapidcolorlight);
}
